version: '3'

services:

  nginx:
    build: ./docker/nginx
    ports:
      - '8080:80'
    volumes:
      - ./:/app
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    depends_on:
      - php

  php:
    build: ./docker/php
    volumes:
      - ./:/app

networks:
  default:
    external:
      name: localdev
